[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[packages]
lxml = "*"
docopt = "*"
camelot-py = "*"
natsort = "*"
japanera = "*"
datetime = "*"
opencv-python = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.8"
